<?xml version="1.0" encoding="UTF-8"?>
<CONFIG name="SGBD_CONF">
	<SGBD name="Postgres">
	<CREATE>CREATE TABLE </CREATE>
	<INI_CREATE> (</INI_CREATE>
	<END_CREATE>);</END_CREATE>
	<PRIMARY>			
		<COMMAND> PRIMARY KEY (</COMMAND>
		<SEPARATOR>, </SEPARATOR>
		<CLOSE>)</CLOSE>
	</PRIMARY>
	<FOREIGN>
		<KEY> FOREIGN KEY (</KEY>
		<CLOSE_KEY>)</CLOSE_KEY>
		<REFERENCE> REFERENCES </REFERENCE>
		<SEPARATOR>, </SEPARATOR>
		<INI_KEY>(</INI_KEY>
		<END_KEY>)</END_KEY>
	</FOREIGN>
	<ALTER>
		<TABLE>ALTER TABLE </TABLE>
		<ATTR>ADD </ATTR>
		<CLOSE_ALTER>;</CLOSE_ALTER>
	</ALTER>
	<END_LINE>,</END_LINE>
	<UNIQUE>UNIQUE</UNIQUE>
	<NOT_NULL>NOT NULL</NOT_NULL>
	<CONSTRAINT>
		<COMMAND>CONSTRAINT </COMMAND>
		<OPEN>(</OPEN>
		<CLOSE>)</CLOSE>
		<SEPARATOR>, </SEPARATOR>
	</CONSTRAINT>
	<DATA_TYPES>
		<BOOL>boolean</BOOL>
		<BYTE>bytea</BYTE>
		<CHAR>char</CHAR>
		<DOUBLE>float8</DOUBLE>
		<FLOAT>float</FLOAT>
		<INT>integer</INT>
		<SHORT>smallint</SHORT>
		<LONG>bigint</LONG>
		<STRING>VARCHAR[10]</STRING>
	</DATA_TYPES>
	</SGBD>
	<SGBD name="Oracle">
	<CREATE>CREATE TABLE </CREATE>
	<INI_CREATE> (</INI_CREATE>
	<END_CREATE>);</END_CREATE>
	<PRIMARY>			
		<COMMAND> PRIMARY KEY (</COMMAND>
		<SEPARATOR>, </SEPARATOR>
		<CLOSE>)</CLOSE>
	</PRIMARY>
	<FOREIGN>
		<KEY> FOREIGN KEY (</KEY>
		<CLOSE_KEY>)</CLOSE_KEY>
		<REFERENCE> REFERENCES </REFERENCE>
		<SEPARATOR>, </SEPARATOR>
		<INI_KEY>(</INI_KEY>
		<END_KEY>)</END_KEY>
	</FOREIGN>
	<ALTER>
		<TABLE>ALTER TABLE </TABLE>
		<ATTR>ADD </ATTR>
		<CLOSE_ALTER>;</CLOSE_ALTER>
	</ALTER>
	<END_LINE>,</END_LINE>
	<UNIQUE>UNIQUE</UNIQUE>
	<NOT_NULL>NOT NULL</NOT_NULL>
	<CONSTRAINT>
		<COMMAND>CONSTRAINT </COMMAND>
		<OPEN>(</OPEN>
		<CLOSE>)</CLOSE>
		<SEPARATOR>, </SEPARATOR>
	</CONSTRAINT>
	<DATA_TYPES>
		<BOOL>boolean</BOOL>
		<BYTE>bytea</BYTE>
		<CHAR>char</CHAR>
		<DOUBLE>float8</DOUBLE>
		<FLOAT>float</FLOAT>
		<INT>integer</INT>
		<SHORT>smallint</SHORT>
		<LONG>bigint</LONG>
		<STRING>VARCHAR2(10)</STRING>
	</DATA_TYPES>
	</SGBD>
</CONFIG>
